LLM_EXT=OPENAI
LLM_RETRIEVER=GEMINI
LLM_EVAL=OPENAI
LLM_CHAT=OPENAI

GEMINI_MODEL=
GEMINI_EXTRACT_MODEL=
GEMINI_RETRIEVER_MODEL=
GEMINI_EVAL_MODEL=

GEMINI_API_KEY=
GEMINI_PROJECT_ID=

OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_EXTRACT_MODEL=
OPENAI_RETRIEVER_MODEL=
OPENAI_EVAL_MODEL=

NEO4J_DATABASE=
NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=
AURA_INSTANCEID=
AURA_INSTANCENAME=

SLACK_WEBHOOK_URL=
SLACK_BOT_TOKEN=
SLACK_SOCKET_TOKEN=

DATABASE_URL=
DATABASE_URL_UNPOOLED=
NEON_BRANCH=

JWT_SECRET=